### Cleaning and creating annual table in the database

1. Required Libraries

In [1]:
import pandas as pd
import os

2. Path to the directory of the csv files and their concatenation

In [3]:
# Accessing the file directory
route = "path\\to\\the\\file\\folder"

# Creating a list with all csv files
files_csv = [os.path.join(route, file) for file in os.listdir(route) if file.endswith('.csv')]

# Reading and concatenating files
dfs = [pd.read_csv(file) for file in files_csv]
df_total = pd.concat(dfs, ignore_index=True)

print("Files read and concatenated successfully.")

Files read and concatenated successfully.

3. Data verification

In [4]:
df_total.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,903C30C2D810A53B,electric_bike,2023-08-19 15:41:53,2023-08-19 15:53:36,LaSalle St & Illinois St,13430,Clark St & Elm St,TA1307000039,41.890721,-87.631477,41.902973,-87.63128,member
1,F2FB18A98E110A2B,electric_bike,2023-08-18 15:30:18,2023-08-18 15:45:25,Clark St & Randolph St,TA1305000030,NaN,NaN,41.884511,-87.631550,41.930000,-87.64000,member
2,D0DEC7C94E4663DA,electric_bike,2023-08-30 16:15:08,2023-08-30 16:27:37,Clark St & Randolph St,TA1305000030,NaN,NaN,41.884981,-87.630793,41.910000,-87.63000,member
3,E0DDDC5F84747ED9,electric_bike,2023-08-30 16:24:07,2023-08-30 16:33:34,Wells St & Elm St,KA1504000135,NaN,NaN,41.903105,-87.634667,41.900000,-87.62000,member
4,7797A4874BA260CA,electric_bike,2023-08-22 15:59:44,2023-08-22 16:20:38,Clark St & Randolph St,TA1305000030,NaN,NaN,41.885548,-87.632019,41.890000,-87.68000,member

There are text strings, numbers, dates and times.

4. Review of data types

In [5]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5715693 entries, 0 to 5715692
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 566.9+ MB

There is data in an incorrect format. For example, columns with dates and times.

5. Removed possible milliseconds and converted to 'datetime' data type for columns that require it

In [6]:
# Remove milliseconds and convert to date and time
df_total['started_at'] = df_total['started_at'].str.split('.', n=1).str[0]
df_total['started_at'] = pd.to_datetime(df_total['started_at'], format="%Y-%m-%d %H:%M:%S")
df_total['ended_at'] = df_total['ended_at'].str.split('.', n=1).str[0]
df_total['ended_at'] = pd.to_datetime(df_total['ended_at'], format="%Y-%m-%d %H:%M:%S")

print("Modifications completed successfully.")

Modifications completed successfully.

6. Remove any extra white space

In [7]:
# Removing whitespace from 'object' type columns and tracking how many were removed
for col in df_total.columns:
    if df_total[col].dtype == 'object':
        # Count how many values ​​have spaces at the beginning or end
        spaces_before = df_total[col].str.match(r'^\s+|\s+$').sum()

        if spaces_before > 0:
            # Remove blank spaces
            df_total[col] = df_total[col].str.strip()
            print(f"Remove {spaces_before} spaces in column: {col}")

Remove 2 spaces in column: start_station_id
Remove 3 spaces in column: end_station_id

7. Checking for empty or NaN values ​​in 'object' type columns

In [8]:
# Filter columns of object type
columns = df_total.select_dtypes(include='object')
object = columns.isna().sum()
print(object)

ride_id                    0
rideable_type              0
start_station_name    947025
start_station_id      947025
end_station_name      989476
end_station_id        989476
member_casual              0
dtype: int64

There are NaN or empty values ​​in several columns.

8. Transformation of NaN values ​​to NULL

In [9]:
# Reemplazando NaN por None 
df_total['start_station_name'] = df_total['start_station_name'].where(pd.notna(df_total['start_station_name']), None)
df_total['start_station_id'] = df_total['start_station_id'].where(pd.notna(df_total['start_station_id']), None)
df_total['end_station_name'] = df_total['end_station_name'].where(pd.notna(df_total['end_station_name']), None)
df_total['end_station_id'] = df_total['end_station_id'].where(pd.notna(df_total['end_station_id']), None)
print("Data successfully transformed.")

Data successfully transformed.

Clarification: The changes will not be reflected in the dataframe but will be reflected internally. When loading them into the database they will be reflected as 'NULL'.

9. Checking for empty or NaN values ​​in 'float' type columns

In [9]:
# Count the NaNs in each column
nan_counts = df_total[['start_lat', 'start_lng', 'end_lat', 'end_lng']].isna().sum()
print(nan_counts)

start_lat       0
start_lng       0
end_lat      7756
end_lng      7756
dtype: int64

There are NaN values ​​in the 'end_lat' and 'end_lng' columns.

10. Transforming NaN values ​​to 0

In [10]:
# Replacing NaN with 0
df_total['end_lat'] = df_total['end_lat'].fillna(0)
df_total['end_lng'] = df_total['end_lng'].fillna(0)

In this case, the changes will be reflected, since we changed the values ​​to 0.

11. Connecting to the database with 'sqlalchemy'

In [17]:
from sqlalchemy import create_engine

# Creating database connection
conexion_str = f"mysql+pymysql://{'user'}:{'password'}@{'name_host'}:{'host in number'}/{'name_database'}"
engine = create_engine(conexion_str)

12. Creating a table in the database

We create a table in the database and load the dataframe in blocks of 10,000 rows.

In [18]:
# Declaring the table name
table_name = 'last_year_report'  

# Loading the dataframe in blocks of 10000
block_size = 10000
for i, start_row in enumerate(range(0, len(df_total), block_size)):
    end_row = min(start_row + block_size, len(df_total))
    df_block = df_total.iloc[start_row:end_row]
    df_block.to_sql(table_name, con=engine, if_exists='append', index=False)
    print(f'Block {i+1} loaded successfuly.')

print('All blocks have been loaded.')

Block 1 loaded successfuly.
Block 2 loaded successfuly.
Block 3 loaded successfuly.
Block 4 loaded successfuly.
Block 5 loaded successfuly.
Block 6 loaded successfuly.
Block 7 loaded successfuly.
Block 8 loaded successfuly.
Block 9 loaded successfuly.
Block 10 loaded successfuly.
Block 11 loaded successfuly.
Block 12 loaded successfuly.
Block 13 loaded successfuly.
Block 14 loaded successfuly.
Block 15 loaded successfuly.
Block 16 loaded successfuly.
Block 17 loaded successfuly.
Block 18 loaded successfuly.
Block 19 loaded successfuly.
Block 20 loaded successfuly.
Block 21 loaded successfuly.
Block 22 loaded successfuly.
Block 23 loaded successfuly.
Block 24 loaded successfuly.
Block 25 loaded successfuly.
Block 26 loaded successfuly.
Block 27 loaded successfuly.
Block 28 loaded successfuly.
Block 29 loaded successfuly.
Block 30 loaded successfuly.
Block 31 loaded successfuly.
Block 32 loaded successfuly.
Block 33 loaded successfuly.
Block 34 loaded successfuly.
Block 35 loaded successfuly.
Block 36 loaded successfuly.
Block 37 loaded successfuly.
Block 38 loaded successfuly.
Block 39 loaded successfuly.
Block 40 loaded successfuly.
Block 41 loaded successfuly.
Block 42 loaded successfuly.
Block 43 loaded successfuly.
Block 44 loaded successfuly.
Block 45 loaded successfuly.
Block 46 loaded successfuly.
Block 47 loaded successfuly.
Block 48 loaded successfuly.
Block 49 loaded successfuly.
Block 50 loaded successfuly.
Block 51 loaded successfuly.
Block 52 loaded successfuly.
Block 53 loaded successfuly.
Block 54 loaded successfuly.
Block 55 loaded successfuly.
Block 56 loaded successfuly.
Block 57 loaded successfuly.
Block 58 loaded successfuly.
Block 59 loaded successfuly.
Block 60 loaded successfuly.
Block 61 loaded successfuly.
Block 62 loaded successfuly.
Block 63 loaded successfuly.
Block 64 loaded successfuly.
Block 65 loaded successfuly.
Block 66 loaded successfuly.
Block 67 loaded successfuly.
Block 68 loaded successfuly.
Block 69 loaded successfuly.
Block 70 loaded successfuly.
Block 71 loaded successfuly.
Block 72 loaded successfuly.
Block 73 loaded successfuly.
Block 74 loaded successfuly.
Block 75 loaded successfuly.
Block 76 loaded successfuly.
Block 77 loaded successfuly.
Block 78 loaded successfuly.
Block 79 loaded successfuly.
Block 80 loaded successfuly.
Block 81 loaded successfuly.
Block 82 loaded successfuly.
Block 83 loaded successfuly.
Block 84 loaded successfuly.
Block 85 loaded successfuly.
Block 86 loaded successfuly.
Block 87 loaded successfuly.
Block 88 loaded successfuly.
Block 89 loaded successfuly.
Block 90 loaded successfuly.
Block 91 loaded successfuly.
Block 92 loaded successfuly.
Block 93 loaded successfuly.
Block 94 loaded successfuly.
Block 95 loaded successfuly.
Block 96 loaded successfuly.
Block 97 loaded successfuly.
Block 98 loaded successfuly.
Block 99 loaded successfuly.
Block 100 loaded successfuly.
Block 101 loaded successfuly.
Block 102 loaded successfuly.
Block 103 loaded successfuly.
Block 104 loaded successfuly.
Block 105 loaded successfuly.
Block 106 loaded successfuly.
Block 107 loaded successfuly.
Block 108 loaded successfuly.
Block 109 loaded successfuly.
Block 110 loaded successfuly.
Block 111 loaded successfuly.
Block 112 loaded successfuly.
Block 113 loaded successfuly.
Block 114 loaded successfuly.
Block 115 loaded successfuly.
Block 116 loaded successfuly.
Block 117 loaded successfuly.
Block 118 loaded successfuly.
Block 119 loaded successfuly.
Block 120 loaded successfuly.
Block 121 loaded successfuly.
Block 122 loaded successfuly.
Block 123 loaded successfuly.
Block 124 loaded successfuly.
Block 125 loaded successfuly.
Block 126 loaded successfuly.
Block 127 loaded successfuly.
Block 128 loaded successfuly.
Block 129 loaded successfuly.
Block 130 loaded successfuly.
Block 131 loaded successfuly.
Block 132 loaded successfuly.
Block 133 loaded successfuly.
Block 134 loaded successfuly.
Block 135 loaded successfuly.
Block 136 loaded successfuly.
Block 137 loaded successfuly.
Block 138 loaded successfuly.
Block 139 loaded successfuly.
Block 140 loaded successfuly.
Block 141 loaded successfuly.
Block 142 loaded successfuly.
Block 143 loaded successfuly.
Block 144 loaded successfuly.
Block 145 loaded successfuly.
Block 146 loaded successfuly.
Block 147 loaded successfuly.
Block 148 loaded successfuly.
Block 149 loaded successfuly.
Block 150 loaded successfuly.
Block 151 loaded successfuly.
Block 152 loaded successfuly.
Block 153 loaded successfuly.
Block 154 loaded successfuly.
Block 155 loaded successfuly.
Block 156 loaded successfuly.
Block 157 loaded successfuly.
Block 158 loaded successfuly.
Block 159 loaded successfuly.
Block 160 loaded successfuly.
Block 161 loaded successfuly.
Block 162 loaded successfuly.
Block 163 loaded successfuly.
Block 164 loaded successfuly.
Block 165 loaded successfuly.
Block 166 loaded successfuly.
Block 167 loaded successfuly.
Block 168 loaded successfuly.
Block 169 loaded successfuly.
Block 170 loaded successfuly.
Block 171 loaded successfuly.
Block 172 loaded successfuly.
Block 173 loaded successfuly.
Block 174 loaded successfuly.
Block 175 loaded successfuly.
Block 176 loaded successfuly.
Block 177 loaded successfuly.
Block 178 loaded successfuly.
Block 179 loaded successfuly.
Block 180 loaded successfuly.
Block 181 loaded successfuly.
Block 182 loaded successfuly.
Block 183 loaded successfuly.
Block 184 loaded successfuly.
Block 185 loaded successfuly.
Block 186 loaded successfuly.
Block 187 loaded successfuly.
Block 188 loaded successfuly.
Block 189 loaded successfuly.
Block 190 loaded successfuly.
Block 191 loaded successfuly.
Block 192 loaded successfuly.
Block 193 loaded successfuly.
Block 194 loaded successfuly.
Block 195 loaded successfuly.
Block 196 loaded successfuly.
Block 197 loaded successfuly.
Block 198 loaded successfuly.
Block 199 loaded successfuly.
Block 200 loaded successfuly.
Block 201 loaded successfuly.
Block 202 loaded successfuly.
Block 203 loaded successfuly.
Block 204 loaded successfuly.
Block 205 loaded successfuly.
Block 206 loaded successfuly.
Block 207 loaded successfuly.
Block 208 loaded successfuly.
Block 209 loaded successfuly.
Block 210 loaded successfuly.
Block 211 loaded successfuly.
Block 212 loaded successfuly.
Block 213 loaded successfuly.
Block 214 loaded successfuly.
Block 215 loaded successfuly.
Block 216 loaded successfuly.
Block 217 loaded successfuly.
Block 218 loaded successfuly.
Block 219 loaded successfuly.
Block 220 loaded successfuly.
Block 221 loaded successfuly.
Block 222 loaded successfuly.
Block 223 loaded successfuly.
Block 224 loaded successfuly.
Block 225 loaded successfuly.
Block 226 loaded successfuly.
Block 227 loaded successfuly.
Block 228 loaded successfuly.
Block 229 loaded successfuly.
Block 230 loaded successfuly.
Block 231 loaded successfuly.
Block 232 loaded successfuly.
Block 233 loaded successfuly.
Block 234 loaded successfuly.
Block 235 loaded successfuly.
Block 236 loaded successfuly.
Block 237 loaded successfuly.
Block 238 loaded successfuly.
Block 239 loaded successfuly.
Block 240 loaded successfuly.
Block 241 loaded successfuly.
Block 242 loaded successfuly.
Block 243 loaded successfuly.
Block 244 loaded successfuly.
Block 245 loaded successfuly.
Block 246 loaded successfuly.
Block 247 loaded successfuly.
Block 248 loaded successfuly.
Block 249 loaded successfuly.
Block 250 loaded successfuly.
Block 251 loaded successfuly.
Block 252 loaded successfuly.
Block 253 loaded successfuly.
Block 254 loaded successfuly.
Block 255 loaded successfuly.
Block 256 loaded successfuly.
Block 257 loaded successfuly.
Block 258 loaded successfuly.
Block 259 loaded successfuly.
Block 260 loaded successfuly.
Block 261 loaded successfuly.
Block 262 loaded successfuly.
Block 263 loaded successfuly.
Block 264 loaded successfuly.
Block 265 loaded successfuly.
Block 266 loaded successfuly.
Block 267 loaded successfuly.
Block 268 loaded successfuly.
Block 269 loaded successfuly.
Block 270 loaded successfuly.
Block 271 loaded successfuly.
Block 272 loaded successfuly.
Block 273 loaded successfuly.
Block 274 loaded successfuly.
Block 275 loaded successfuly.
Block 276 loaded successfuly.
Block 277 loaded successfuly.
Block 278 loaded successfuly.
Block 279 loaded successfuly.
Block 280 loaded successfuly.
Block 281 loaded successfuly.
Block 282 loaded successfuly.
Block 283 loaded successfuly.
Block 284 loaded successfuly.
Block 285 loaded successfuly.
Block 286 loaded successfuly.
Block 287 loaded successfuly.
Block 288 loaded successfuly.
Block 289 loaded successfuly.
Block 290 loaded successfuly.
Block 291 loaded successfuly.
Block 292 loaded successfuly.
Block 293 loaded successfuly.
Block 294 loaded successfuly.
Block 295 loaded successfuly.
Block 296 loaded successfuly.
Block 297 loaded successfuly.
Block 298 loaded successfuly.
Block 299 loaded successfuly.
Block 300 loaded successfuly.
Block 301 loaded successfuly.
Block 302 loaded successfuly.
Block 303 loaded successfuly.
Block 304 loaded successfuly.
Block 305 loaded successfuly.
Block 306 loaded successfuly.
Block 307 loaded successfuly.
Block 308 loaded successfuly.
Block 309 loaded successfuly.
Block 310 loaded successfuly.
Block 311 loaded successfuly.
Block 312 loaded successfuly.
Block 313 loaded successfuly.
Block 314 loaded successfuly.
Block 315 loaded successfuly.
Block 316 loaded successfuly.
Block 317 loaded successfuly.
Block 318 loaded successfuly.
Block 319 loaded successfuly.
Block 320 loaded successfuly.
Block 321 loaded successfuly.
Block 322 loaded successfuly.
Block 323 loaded successfuly.
Block 324 loaded successfuly.
Block 325 loaded successfuly.
Block 326 loaded successfuly.
Block 327 loaded successfuly.
Block 328 loaded successfuly.
Block 329 loaded successfuly.
Block 330 loaded successfuly.
Block 331 loaded successfuly.
Block 332 loaded successfuly.
Block 333 loaded successfuly.
Block 334 loaded successfuly.
Block 335 loaded successfuly.
Block 336 loaded successfuly.
Block 337 loaded successfuly.
Block 338 loaded successfuly.
Block 339 loaded successfuly.
Block 340 loaded successfuly.
Block 341 loaded successfuly.
Block 342 loaded successfuly.
Block 343 loaded successfuly.
Block 344 loaded successfuly.
Block 345 loaded successfuly.
Block 346 loaded successfuly.
Block 347 loaded successfuly.
Block 348 loaded successfuly.
Block 349 loaded successfuly.
Block 350 loaded successfuly.
Block 351 loaded successfuly.
Block 352 loaded successfuly.
Block 353 loaded successfuly.
Block 354 loaded successfuly.
Block 355 loaded successfuly.
Block 356 loaded successfuly.
Block 357 loaded successfuly.
Block 358 loaded successfuly.
Block 359 loaded successfuly.
Block 360 loaded successfuly.
Block 361 loaded successfuly.
Block 362 loaded successfuly.
Block 363 loaded successfuly.
Block 364 loaded successfuly.
Block 365 loaded successfuly.
Block 366 loaded successfuly.
Block 367 loaded successfuly.
Block 368 loaded successfuly.
Block 369 loaded successfuly.
Block 370 loaded successfuly.
Block 371 loaded successfuly.
Block 372 loaded successfuly.
Block 373 loaded successfuly.
Block 374 loaded successfuly.
Block 375 loaded successfuly.
Block 376 loaded successfuly.
Block 377 loaded successfuly.
Block 378 loaded successfuly.
Block 379 loaded successfuly.
Block 380 loaded successfuly.
Block 381 loaded successfuly.
Block 382 loaded successfuly.
Block 383 loaded successfuly.
Block 384 loaded successfuly.
Block 385 loaded successfuly.
Block 386 loaded successfuly.
Block 387 loaded successfuly.
Block 388 loaded successfuly.
Block 389 loaded successfuly.
Block 390 loaded successfuly.
Block 391 loaded successfuly.
Block 392 loaded successfuly.
Block 393 loaded successfuly.
Block 394 loaded successfuly.
Block 395 loaded successfuly.
Block 396 loaded successfuly.
Block 397 loaded successfuly.
Block 398 loaded successfuly.
Block 399 loaded successfuly.
Block 400 loaded successfuly.
Block 401 loaded successfuly.
Block 402 loaded successfuly.
Block 403 loaded successfuly.
Block 404 loaded successfuly.
Block 405 loaded successfuly.
Block 406 loaded successfuly.
Block 407 loaded successfuly.
Block 408 loaded successfuly.
Block 409 loaded successfuly.
Block 410 loaded successfuly.
Block 411 loaded successfuly.
Block 412 loaded successfuly.
Block 413 loaded successfuly.
Block 414 loaded successfuly.
Block 415 loaded successfuly.
Block 416 loaded successfuly.
Block 417 loaded successfuly.
Block 418 loaded successfuly.
Block 419 loaded successfuly.
Block 420 loaded successfuly.
Block 421 loaded successfuly.
Block 422 loaded successfuly.
Block 423 loaded successfuly.
Block 424 loaded successfuly.
Block 425 loaded successfuly.
Block 426 loaded successfuly.
Block 427 loaded successfuly.
Block 428 loaded successfuly.
Block 429 loaded successfuly.
Block 430 loaded successfuly.
Block 431 loaded successfuly.
Block 432 loaded successfuly.
Block 433 loaded successfuly.
Block 434 loaded successfuly.
Block 435 loaded successfuly.
Block 436 loaded successfuly.
Block 437 loaded successfuly.
Block 438 loaded successfuly.
Block 439 loaded successfuly.
Block 440 loaded successfuly.
Block 441 loaded successfuly.
Block 442 loaded successfuly.
Block 443 loaded successfuly.
Block 444 loaded successfuly.
Block 445 loaded successfuly.
Block 446 loaded successfuly.
Block 447 loaded successfuly.
Block 448 loaded successfuly.
Block 449 loaded successfuly.
Block 450 loaded successfuly.
Block 451 loaded successfuly.
Block 452 loaded successfuly.
Block 453 loaded successfuly.
Block 454 loaded successfuly.
Block 455 loaded successfuly.
Block 456 loaded successfuly.
Block 457 loaded successfuly.
Block 458 loaded successfuly.
Block 459 loaded successfuly.
Block 460 loaded successfuly.
Block 461 loaded successfuly.
Block 462 loaded successfuly.
Block 463 loaded successfuly.
Block 464 loaded successfuly.
Block 465 loaded successfuly.
Block 466 loaded successfuly.
Block 467 loaded successfuly.
Block 468 loaded successfuly.
Block 469 loaded successfuly.
Block 470 loaded successfuly.
Block 471 loaded successfuly.
Block 472 loaded successfuly.
Block 473 loaded successfuly.
Block 474 loaded successfuly.
Block 475 loaded successfuly.
Block 476 loaded successfuly.
Block 477 loaded successfuly.
Block 478 loaded successfuly.
Block 479 loaded successfuly.
Block 480 loaded successfuly.
Block 481 loaded successfuly.
Block 482 loaded successfuly.
Block 483 loaded successfuly.
Block 484 loaded successfuly.
Block 485 loaded successfuly.
Block 486 loaded successfuly.
Block 487 loaded successfuly.
Block 488 loaded successfuly.
Block 489 loaded successfuly.
Block 490 loaded successfuly.
Block 491 loaded successfuly.
Block 492 loaded successfuly.
Block 493 loaded successfuly.
Block 494 loaded successfuly.
Block 495 loaded successfuly.
Block 496 loaded successfuly.
Block 497 loaded successfuly.
Block 498 loaded successfuly.
Block 499 loaded successfuly.
Block 500 loaded successfuly.
Block 501 loaded successfuly.
Block 502 loaded successfuly.
Block 503 loaded successfuly.
Block 504 loaded successfuly.
Block 505 loaded successfuly.
Block 506 loaded successfuly.
Block 507 loaded successfuly.
Block 508 loaded successfuly.
Block 509 loaded successfuly.
Block 510 loaded successfuly.
Block 511 loaded successfuly.
Block 512 loaded successfuly.
Block 513 loaded successfuly.
Block 514 loaded successfuly.
Block 515 loaded successfuly.
Block 516 loaded successfuly.
Block 517 loaded successfuly.
Block 518 loaded successfuly.
Block 519 loaded successfuly.
Block 520 loaded successfuly.
Block 521 loaded successfuly.
Block 522 loaded successfuly.
Block 523 loaded successfuly.
Block 524 loaded successfuly.
Block 525 loaded successfuly.
Block 526 loaded successfuly.
Block 527 loaded successfuly.
Block 528 loaded successfuly.
Block 529 loaded successfuly.
Block 530 loaded successfuly.
Block 531 loaded successfuly.
Block 532 loaded successfuly.
Block 533 loaded successfuly.
Block 534 loaded successfuly.
Block 535 loaded successfuly.
Block 536 loaded successfuly.
Block 537 loaded successfuly.
Block 538 loaded successfuly.
Block 539 loaded successfuly.
Block 540 loaded successfuly.
Block 541 loaded successfuly.
Block 542 loaded successfuly.
Block 543 loaded successfuly.
Block 544 loaded successfuly.
Block 545 loaded successfuly.
Block 546 loaded successfuly.
Block 547 loaded successfuly.
Block 548 loaded successfuly.
Block 549 loaded successfuly.
Block 550 loaded successfuly.
Block 551 loaded successfuly.
Block 552 loaded successfuly.
Block 553 loaded successfuly.
Block 554 loaded successfuly.
Block 555 loaded successfuly.
Block 556 loaded successfuly.
Block 557 loaded successfuly.
Block 558 loaded successfuly.
Block 559 loaded successfuly.
Block 560 loaded successfuly.
Block 561 loaded successfuly.
Block 562 loaded successfuly.
Block 563 loaded successfuly.
Block 564 loaded successfuly.
Block 565 loaded successfuly.
Block 566 loaded successfuly.
Block 567 loaded successfuly.
Block 568 loaded successfuly.
Block 569 loaded successfuly.
Block 570 loaded successfuly.
Block 571 loaded successfuly.
Block 572 loaded successfuly.
All blocks have been loaded.

At this point, we have completed the data cleaning phase and can now work on the database.